<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aula7.lista1/src/br/com/elaborata/ex1/ImprimeDivisiveis.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.elaborata.ex1.ImprimeDivisiveis"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aula7.lista1"/>
</launchConfiguration>
